*,
*::before,
*::after {
  box-sizing: inherit;
  border-radius: 0;

  @extend .main-scroll;
}

html {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  -webkit-text-size-adjust: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--base-font-family, sans-serif);
  font-weight: 400;
  background-color: var(--main-bg-color);

  &.body-locked {
    overflow: hidden;
  }
}

footer {
  margin-top: auto;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}
