include ../../mixins/product-card

-
  const productList = [
    {
      title: 'Смартфон Samsung Galaxy S24 8/128GB SM-S921B',
      price: 'Цена ₽ 150 000',
      imgPath: 'Samsung-Galaxy-S24-Purple-01-405x405.png',
      saleBadgeClass: 'lw-promo-sale-badge--small',
      imgWidth: 194,
      imgHeight: 194
    },
    {
      title: 'Смартфон Samsung Galaxy S24 8/128GB SM-S921B',
      price: 'Цена ₽ 1 150 000',
      imgPath: 'Samsung-Galaxy-S24-White-01-405x405.png',
      saleBadgeClass: 'lw-promo-sale-badge--small',
      imgWidth: 194,
      imgHeight: 194
    },
    {
      title: 'Смартфон Samsung Galaxy S24 8/128GB SM-S921B',
      price: 'Цена ₽ 1 150 000',
      imgPath: 'Samsung-Galaxy-S24-Yellow-01-405x405.png',
      saleBadgeClass: 'lw-promo-sale-badge--small',
      imgWidth: 194,
      imgHeight: 194
    },
    {
      title: 'Смартфон Samsung Galaxy S24 8/128GB SM-S921B',
      price: 'Цена ₽ 1 150 000',
      imgPath: 'Samsung-Galaxy-S24-Purple-01-405x405.png',
      saleBadgeClass: 'lw-promo-sale-badge--small',
      imgWidth: 194,
      imgHeight: 194
    },
  ]

section.section.lw-promo-catalog
  .lw-container
    .swiper.lw-promo-catalog-swiper
      .swiper-wrapper
        each product in productList
          .swiper-slide
            +product-card(product)

    //ul.lw-promo-catalog__list
        li.lw-promo-catalog__list-item
          +product-card({
            title: 'test',
            price: '150 000',
            img: 'imgPath...'
          })

        li.lw-promo-catalog__list-item
          +product-card({

          })
        li.lw-promo-catalog__list-item
          +product-card({

          })
