include ../../mixins/product-description

+product-description({
  desc: 'Смартфон Samsung Galaxy S24 обладает несколькими поистине выдающимися характеристиками. Так, помимо выгодной цены Samsung Galaxy S24, вниманию будущих владельцев будут предложены:',
  list: {
    item: '6,8-дюймовый дисплей Dynamic AMOLED 2X с разрешением 2K;',
    item_2: 'литий-полимерный аккумулятор емкостью 5000 мАч с поддержкой быстрой зарядки 65 Вт;',
    item_3: '8Гб оперативной памяти;',
    item_4: 'внушительный блок камер: основной сенсор на 200 Мп, телеобъектив с перископом 12 Мп, телеобъектив shooter 12 Мп и сверхширокий объектив snapper 12 Мп;',
    item_5: 'фронтальная камера 32 Мп с оптикой Zeiss, светодиодной вспышкой, панорамной съемкой и HDR.'
    },
  subtitle: 'Почему стоит купить Samsung Galaxy S24?',  
  desc_2: 'Новый Самсунг Галакси С24 гарантирует будущему владельцу:',
  list_2: {
    item: 'длительную автономную работу;',
    item_2: 'исключительный комфорт при просмотре фото или видео;',
    item_3: 'тысячи красочных фото;',
    item_4: 'быструю зарядку аккумулятора.',
  },
  desc_3: 'Интернет-магазин Wishmaster.me приглашает в гости всех, кто планирует приобрести смартфон Самсунг Галакси С24. Осуществляется быстрая доставка гаджетов по Москве и МО, покупателям предлагается подписка на новости и уведомления, а также участие в скидочных акциях и действующая система промокодов. '
})