include ../../mixins/features-section

+features-section({
  title: 'почему стоит купить Samsung Galaxy S24?',
  desc: 'Новый Самсунг Галакси С24 гарантирует будущему владельцу:',
  list: [
    {text: 'длительную автономную работу'},
    {text: 'исключительный комфорт при просмотре фото или видео'},
    {text: 'тысячи красочных фото'},
    {text: 'быструю зарядку аккумулятора'},
  ],
  cls: 'lw-promo-features--galaxy'
})
