include ../../mixins/hero-section

+hero-section({
  title: 'Смартфон Samsung Galaxy S24',
  desc: 'Бесплатная доставка по Саратову, Энгельсу и всем городам Саратовской области в подарок!',
  bg: 'samsung-s24-hero-bg.png',
  img: 'samsung-s24-hero-img.png',
  imgWidth: 1000,
  imgHeight: 550
})
