extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include ./sections/galaxy_s24_spb/hero
  include ./sections/galaxy_s24_spb/description
  include ./sections/galaxy_s24_spb/catalog
  include ./sections/galaxy_s24_spb/features
  include ./sections/galaxy_s24_spb/about
