
mixin product-description(content)
  section.section.lw-promo-product-description
    .lw-container
      div.lw-promo-product-content!= content


//- mixin list(list)
//-   ul
//-     each item in list
//-       li
//-         p!= item.title
//-         span!= item.text
