.lw-promo-product-card {
    @extend .flex-column;
    align-items: center;
    
    width: 100%;
    max-width: 262px;
    
    &-top {
        @extend .flex-column;

        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background-color: var(--light);

        &-block {
            display: flex;
            width: 100%;
            margin-bottom: 16px;

            img {
                width: 24px;
                height: 24px;
                padding: 5px;
                margin-left: auto;
                border-radius: 50%;
                background-color: var(--white);
            }
        }

        img {
            margin-bottom: 30px;
        }
    }

    &-rating {
        width: 100%;
       display: flex;
       align-items: center;
       justify-content: flex-start;
       margin: 30px 0 10px 0;
    }

    &-title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: start;
    }

    &-price {
        width: 100%;
        font-weight: 600;
        margin-bottom: 5px;
        text-align: start;
    }
    
}

